#chinese {
    position: static;
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chinese-content {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    flex-shrink: 0;
    gap: 64px;
}

#hexagram {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9.09%;
}

.hex-line {
    height: 9.09%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hex-divider {
    height: 101%;
    aspect-ratio: 1;
    background-color: black;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 250ms ease;
}

#ch63 {
    display: inline-block;
    height: max-content;
    flex-shrink: 0;
    writing-mode: vertical-rl;
    font-family: "Kaiti";
    font-size: 32px;
    letter-spacing: 4px;
    line-height: 48px;
}