#five-eyes-belt {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.long-belt {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#five-belt {
    position: relative;
    left: 0px;
}

#eyes-belt {
    position: relative;
    right: 0px;
    justify-content: flex-end;
}

.long-belt-word-black, .long-belt-word-white {
    width: 20vw;
    font-family: "Crimson Text Italic";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    flex-shrink: 0;
}

.long-belt-word-black {
    color: white;
    background-color: black;
}

.long-belt-word-white {
    color: black;
    background-color: white;
}

.eye-white, .eye-black {
    width: 7.692vw;
    aspect-ratio: 1;
    flex-shrink: 0;
}

.eye-white {
    background-image: url('images/eye-white.svg');
    background-size: 100%;
}

.eye-black {
    background-image: url('images/eye-black.svg');
    background-size: 100%;
}

@media (max-width: 1250px) {
    .long-belt-word-black, .long-belt-word-white {
        font-size: 16px;
    }
}

@media (max-width: 1050px) {
    .long-belt-word-black, .long-belt-word-white {
        height: 48px;
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .long-belt-word-black, .long-belt-word-white {
        font-size: 12px;
        height: 32px;
    }
}

@media (max-width: 750px) {
    .small-removable {
        display: none;
    }

    .long-belt-word-black, .long-belt-word-white {
        width: 50vw;
        height: 64px;
        font-size: 24px;
    }
}

@media (max-width: 650px) {
    .long-belt-word-black, .long-belt-word-white {
        height: 48px;
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .long-belt-word-black, .long-belt-word-white {
        height: 32px;
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .long-belt-word-black, .long-belt-word-white {
        height: 24px;
        font-size: 12px;
    }
}