#footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 128px;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}

#footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
}

.link-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    & a:link, a:visited, a:active {
        color: white;
        text-decoration: none;
    }

    & a:hover {
        color: white;
        text-decoration: underline;
    }
}

.link-group-header {
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 600;
}

.link-group-link {
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 400;
}

#contact-copyright {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    gap: 8px;
}

#contact {
    text-align: right;
    font-family: "Manrope";
    font-size: 12px;
    font-style: 400;
}

#copyright {
    text-align: right;
    font-family: "Manrope";
    font-size: 14px;
    font-style: 400;
}

@media (max-width: 750px) {
    #footer {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    #footer-links {
        width: 70%;
        justify-content: space-between;
    }

    #contact {
        text-align: center;
    }

    #copyright {
        text-align: center;
    }
}

@media (max-width: 500px) {
    #footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    #footer-links {
        width: 90%;
    }
}