body {
    background-color: black;
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-y: scroll;
}

@font-face {
    font-family: "Crimson Text";
    src: url("Crimson_Text/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: "Crimson Text Bold";
    src: url("Crimson_Text/CrimsonText-Bold.ttf");
}

@font-face {
    font-family: "Crimson Text Italic";
    src: url("crimson-text/CrimsonText-Italic.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Kaiti";
    src: url("LXGW_WenKai_TC/LXGWWenKaiTC-Light.ttf");
}

.crimson {
    font-family: "Crimson Text";
}

.crimsonbold {
    font-family: "Crimson Text Bold";
}

.crimsonitalic {
    font-family: "Crimson Text Italic";
}

.manrope {
    font-family: "Manrope";
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}