:root {
    --bg: #041a2b;
    --bgsecondary: #08253a;
    --txtcolor: white;
    --txtsecondary: lightblue;
    --txttertiary: gray;
}

body {
    background-color: var(--bg);
    color: var(--txtcolor);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-flow: column;
}

.navbar {
    background-image: linear-gradient(to bottom, var(--bg), rgba(0,0,0,0));
    top: 0%;
    left: 0%;
    height: 20%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row;
}

.logo {
    width: 60%;
    margin-left: 50px;
}

.links {
    width: 40%;
    height: 24px;
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    flex-flow: row;
    justify-content: right;
}

.bottombar {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), var(--bg));
    top: 80%;
    left:0%;
    height: 20%;
    width: 100%;
    position: fixed;
    pointer-events: none;
}

.mainbody {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
    display: flex;
    flex-flow: column;
}

.basebody {
    display: flex;
    flex-flow: row;
}

.leftmain {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: right;
}

.picdiv {
    width: 60%;
    margin-top: 15%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

.avatar {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.rightmain {
    width: 50%;
    display: flex;
}

.textdiv {
    width: 70%;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

.name {
    color: var(--txtsecondary);
    font-size: 70px;
}

/* link styling from Tobias Ahlin Bjerrome */
a {
    transition: 0.3s;
    position: relative;
    color: var(--txtcolor);
    text-decoration: none;
  }
  
  a:hover {
    transition: 0.3s;
    color: var(--txtsecondary);
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--txtsecondary);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }

p {
    font-size: 20px;
    line-height: 1.5;
    color: var(--txttertiary);
}

.mainmenu {
    font-size: 40px;
    line-height: 1.22;
    transition: 1000ms;
}

.mainmenu:hover {
    color: var(--txtsecondary);
    transition: 1000ms;
}

.about_section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 120px;
}

.portfolio_section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 120px;
}

.portfolio {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 30%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: var(--bgsecondary);
    border-radius: 5px;
}

.innerproject {
    margin-left: 15px;
    margin-right: 15px;
}

.projectHeader {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.projectName {
    width: 90%;
}

.projectLinks {
    width: 10%;
    margin-top: 20px;
    justify-content: right;
}

.projectDescription {
    color: var(--txtcolor);
    font-size: 14px;
}

.projectLanguages {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
}

.projectLang {
    margin-left: 7px;
    margin-right: 7px;
    color: var(--txtsecondary);
    font-size: 12px;
}

.resume_section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 120px;
}

.contact_section {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 120px;
}

.contact_text {
    display: flex;
    justify-content: center;
    margin-left:17%;
    margin-right: 17%;
}

.fillerbottom {
    margin-top: 120px;
}

.prmry {
    color: var(--txtcolor);
}

.scndry {
    color: var(--txtsecondary);
}

.trtry {
    color: var(--txttertiary);
}

.cuppslist {
    font-size: 16px;
}

.email {
    color: var(--txtcolor);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(0,0,0) rgba(255,255,255,0.2);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.2);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 9px;
    border: 0px none rgba(255,255,255,0.2);
  }

