body {
    background-color: black;
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-y: scroll;
}

@font-face {
    font-family: "Crimson Text";
    src: url("Crimson_Text/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: "Crimson Text Bold";
    src: url("Crimson_Text/CrimsonText-Bold.ttf");
}

@font-face {
    font-family: "Crimson Text Italic";
    src: url("Crimson_Text/CrimsonText-Italic.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Kaiti";
    src: url("LXGW_WenKai_TC/LXGWWenKaiTC-Light.ttf");
}

.crimson {
    font-family: "Crimson Text";
}

.crimsonbold {
    font-family: "Crimson Text Bold";
}

.crimsonitalic {
    font-family: "Crimson Text Italic";
}

.manrope {
    font-family: "Manrope";
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

#wall-of-text {
    font-family: "Manrope";
    font-size: 8px;
    text-align: justify;
    text-align-last: justify;
}

#bottom-ac-banner {
    width: 100vw;
    aspect-ratio: 1728 / 279.25;
    background-image: url('images/ac-banners/ac-banner-19c.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 960px) {
    #bottom-ac-banner {
        background-image: url('images/ac-banners/ac-banner-10c.svg');
        aspect-ratio: 960 / 418.88;
    }
}

@media (max-width: 576px) {
    #bottom-ac-banner {
        background-image: url('images/ac-banners/ac-banner-6c.svg');
        aspect-ratio: 576 / 558.5;
    }
}

button {
    cursor: pointer;
}