:root {
    --bg: #2f2f2f;
    --darkBg: #242424;
    --scrollBG: #2a2a2a;
    --text: #e6e6fa;
    --textOrange: #cc6c1d;
    --textDarkBlue: #1290c3;
    --textLightBlue: #7ddbf0;
    --purple: #8542b8;
    --lightGreen: #75d41c;
    --pink: #ff6bba;
    --brown: #996754;
}

html, body {
    background: var(--bg);
    color: var(--text);
    font-family: monospace;
    font-size: 14px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    white-space: nowrap;
}

#container {
    height: 100%;
    width: 100%;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 var(--bg);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--bg);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

#leftDiv {
    height: 100%;
    width: 12.5%;
    background-color: var(--darkBg);
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    overflow: auto;
}

#codeDiv {
    height: 100%;
    width: 75%;
    float: left;
    overflow: auto;
}

#andrewcupps {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#topNav {
    height: 40px;
    width: 100%;
    background-color: var(--darkBg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

#rightDiv {
    height: 100%;
    width: 12.5%;
    background-color: var(--darkBg);
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    overflow: auto;
}

.orange {
    color: var(--textOrange);
}

.darkBlue {
    color: var(--textDarkBlue);
}

.lightBlue {
    color: var(--textLightBlue);
}

.bigBlue {
    color: var(--textLightBlue);
    font-style: italic;
    font-weight: bold;
}

.purple {
    color: var(--purple);
}

.pink {
    color: var(--pink);
}

.enum {
    color: var(--pink);
    font-style: italic;
}

.lightGreen {
    color: var(--lightGreen);
}

.methodCall {
    color: var(--lightGreen);
    font-style: italic;
}

.lineNums {
    color: #77919a;
}

.comment {
    color: #808080;
}

.commentAnnot {
    color: #9a8c7c;
    font-weight: bold;
}

.method {
    color: #1eb540;
}

.string {
    color: #17c6a3;
}

a {
    text-decoration: none;
    color: var(--text);
}

.outlineClass {
    font-size: bold;
    font-style: italic;
    color: var(--textDarkBlue);
}

.brown {
    color: var(--brown);
}

.selectedNavBtn {
    width: 15%;
    height: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    border-radius: 0;
    border-left: 1px solid var(--darkBg);
    border-top: 3px solid var(--purple);
    border-right: 1px solid var(--darkBg);
    border-bottom: 0px;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}