#stamp-zone {
    width: 100vw;
    border: 16px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 64px;
    padding-bottom: 64px;
}

#stamp-header {
    font-family: "Crimson Text";
    font-size: 32px;
    text-align: center;
}

#stamp-text {
    font-family: "Manrope";
    font-size: 12px;
    text-align: center;
}

#stamp-button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
}

#stamp-container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}