#stamp-zone {
    width: 100vw;
    border: 16px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
}

#stamp-header {
    font-family: "Crimson Text";
    font-size: 32px;
    text-align: center;
}

#stamp-text {
    font-family: "Manrope";
    font-size: 12px;
    text-align: center;
}

#stamp-container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.stamp-and-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    font-family: "Manrope";
    font-size: 12px;
    text-align: center;
}

.stamp {
    width: 128px;
    height: 128px;
}

.stamp-primary-button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    border: none;
}

#stamp-dialog {
    position: absolute;
    z-index: 10;
    width: 288px;
    height: 320px;
    border: 8px solid white;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}

#exit-dialog {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px;

    & button {
        border: none;
        background-color: black;
        color: white;
        font-size: 16px;
    }
}

#stamp-dialog-header {
    font-family: "Crimson Text";
    font-size: 24px;
}

#stamp-dialog-instructions {
    font-family: "Manrope";
    font-size: 10px;
}

#dialog-name-input {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: "Manrope";
}

#stamp-editor {
    width: 160px;
    height: 160px;
    margin: 8px;
}

.stamp-editor-button {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px;
}

.stamp-editor-button.filled {
    background-color: red;
}

#stamp-success-box {
    position: absolute;
    z-index: 10;
    width: 288px;
    border: 8px solid white;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}

#stamp-success-message {
    font-family: "Manrope";
    font-size: 12px;
    text-align: center;
}

@media (max-width: 480px) {
    #stamp-container {
        gap: 16px;
    }

    .stamp {
        width: 48px;
        height: 48px;
    }
}