#vanity-ego-belts {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#vanity-belt {
    position: relative;
    right: 0px;
    justify-content: flex-end;
}

#ego-belt {
    position: relative;
    left: 0px;
}

.block-belt {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.block-word {
    display: flex;
    flex-direction: row;
}

.black-square, .white-square {
    width: 7.2vw;
    height: 7.2vw;
    font-family: "Crimson Text";
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-square {
    color: white;
    background-color: black;
}

.white-square {
    color: black;
    background-color: white;
}

@media (max-width: 950px) {
    .black-square, .white-square {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .black-square, .white-square {
        font-size: 12px;
    }
}